




                                                        /* ESTILOS GENERALES BASE DE LAS PÃGINAS */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

#check{
display: none;
}


.index-container{
    background: radial-gradient(circle, rgba(1,73,31,1) 0%, rgba(0,0,0,1) 99%);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: soft-light;
    margin-top: 20px;
    background-position: 0px 0px;
    background-size: 100%;

}

.logo{
    height: 60px;
    margin: 0px 25px;
    animation: nav 2s;
}

li a{
    text-decoration: none;
    color: white;
}

.header {
    margin: -20px 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 5px rgb(176, 176, 176);
    width: 100%;
}


.burger{  
    display: none !important;
}

.active{
    color: #ffd102;
}

.nav__links li{
    display: inline-block;
    margin: 20px 30px;
    animation: nav 2s;
}


.nav__links li a{
    transition: all .3s;
}

.nav__links li a:hover{
color: #04ff6d;
}

.nav__links{
    list-style: none;
}

.footer{
    background-color: rgba(0, 0, 0, 0.95);
    font-size: 23px;
    display: flex;
    justify-content: space-between;
}

.redes-container a{
    text-decoration: none;
  display: inline-flex;
  padding: 0px 10px;
  font-size: 20px;
}

.redes-container a:hover{
  transition: .4s;
  text-shadow: 0px 0px 2.5px;
  font-size: 25px;
}

@keyframes nav{
    
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

                                                            /* INDEX . HTML ESTILOS */





.titulo__quote{
    font-family: 'Bree Serif', serif;
    letter-spacing: 5px;
    margin: 100px 470px 20px 0px;
    padding: 10px;
    font-size: 50px;
    text-shadow: 4px 3px 1px black;
    text-align: center;
    grid-area: h1;
    animation: titulo 3s;
    transition: .3s;
}

.titulo__quote:hover{
    transform: scale(1.1);
    transition: .3s;
}
@keyframes titulo {
    0%{
        opacity: 0;
        transform: translateY(90px);
    }

    100%{
        transform: translateY(0px);
    }
}



.somos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.titulo{
    display: grid;
    grid-template-areas: 
    "h1 h1 aside aside"
    "h1 h1 aside aside"
    "h1 h1 aside aside"
    " p p p p";
}



.titulo__laamistad{
    width: 600px;
    margin-left: 40px;

}

.titulo__parrafo, .footer{
    font-family: 'Quicksand', sans-serif;
}

.titulo__parrafo{
    font-size: 40px;
    letter-spacing: 2px;
    padding: 40px 30px 30px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 1px black;
    background-color: rgba(0, 0, 0, .6);
    margin: 220px 0px 50px;
    grid-area: p;
    font-weight: 900;
}

.buttondown a{
    text-decoration: none;
}

.buttondown{
    display: inline;
    position: absolute;
    width: 30%;
    top: 570px;
    left: 190px;
    height: 8%;
    background-color: #000;
    border: 2px solid #fff;
    font-size: 30px;
    transition: .3s;
    cursor: pointer;
    border-radius: 20px;
    animation: button 6s;
}

@keyframes button {
    0%{
        opacity: 0;
        transform: translateY(90px);
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}


.buttondown:hover{
    transition: .3s;
    background-color: #008939;
}
.aside img{
    width: 210px;
    height: 210px;
    grid-area: aside;
    margin: 90px 50px 20px 0px;
    border-radius: 60%;
    outline: 11px double #008939;
    transition: .4s;
    animation-name: aside;
    animation-duration: 3.5s;
}

@keyframes aside {

    0%{
        opacity: 0.5;
        transform: rotate(30deg);
    }


    25%{
        transform: rotate(-45deg);
    }


    50%{
        transform: rotate(20deg);
    }


    60%{
        transform: scale(1.1);
        }

    100%{
        transform: scale(1);
    }
}


.aside img:hover{
    border-radius: 0%;
    outline: 4px solid #000;
    transition: .4s;
    transform: scale(1.1);
}

.frutas{
    position: absolute;
    top: 160px;
    right:0px;
}

.crew{
    position: absolute;
    top: 320px;
    right: 230px;
}

.jura1{
    position: absolute;
    top: 20px;
    right: 240px;
}

                                                       /* QUIENES SOMOS . html  ESTILOS*/




.quienes-somos-section{
    margin: 80px 30px;
}

.nuestra_historia{
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Bree Serif', serif;
    text-shadow: 4px 3px 1px black;
    font-size: 90px;
    }

    .parrafo-nuestrahistoria{
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
    }

    .who-we-are-container{
        margin-top: 20px;
        background: radial-gradient(circle, #01491f 0%, rgba(0,0,0,1) 99%);
        background-blend-mode: soft-light;
        background-position: 0px 0px;
        background-size: 100%;
        background-attachment: fixed;
    }
    




                                                    /* SUCURSALES . html  ESTILOS*/




                        
.offices_container{
    display: grid;
    grid-template-areas: 
    "h1 h1 h1"
    "div1 div2 div3"
    "div4 div5 div6"
    "div7 div8 div9"
    "div10 div11 div12";
    padding: 70px 10px 100px;
    gap: 3em;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.3);

}

.offices_img{
    width: 370px;
    height: 250px;
    border-radius: 1%;
    border: 4px solid #000;
    outline: 6px double #0f0c00;
}

.offices_img--cover{
    width: 370px;
    height: 250px;
    border-radius: 1%;
    border: 4px solid #000;
    outline: 6px double #0f0c00;
    object-fit: cover;
}

.sucu-container{
    transition: .2s;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.sucu-container:hover{
    transform: scale(1.08);
    transition: .3s;
    z-index: 5;
    outline: 6px double #ffd102;
}

.offices{
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.offices > * {
    transform: translateY(40px);
    transition: transform 0.25s;
}

.offices:hover > * {
    transform: translateY(0px);
    transition: transform 0.25s;
}

.offices:hover{
    opacity: 1;
    backdrop-filter: blur(1px);
}



.offices_title,.offices_text,.offices_title--prox, .opening_button{
    font-family: 'Montserrat';
}


.offices_text{
font-size: 14px;
}

.offices_title{
    letter-spacing: 5px;
    font-size: 30px;
    margin-bottom: 50px;
}
.offices_title--prox{
    letter-spacing: 5px;
    font-size: 25px;
}

.opening_text{
    position: relative;
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    font-family:'Quicksand', sans-serif;
    text-shadow: 2px 2px 1px black;
    margin: 60px 50px -20px;
    padding: 120px 0;
    animation-name: up;
    animation-duration: 1s;
}

.opening_button a{
    text-decoration: none;
}

.opening_button{
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 300px;
    background-color: #000;
    cursor: pointer;
    text-shadow: 2px 2px 1px #000;
    border: 1px 1px 5px rgb(176, 176, 176);
    animation-name: up2;
    box-shadow: 0px 3px 1px #ecdfa2;
    animation-duration: 3s;
    border-radius: 4%;
    margin-bottom: 200px;
    transition: .4s;
}

.opening_button:hover{
    background-color: #008939;
    text-shadow: none;
    box-shadow: 0px 3px 3px rgb(176, 176, 176);
    border-style: none;
    transition: .4s;
}

.opening_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes up2{
    0% {
        transform: translateY(90px);      
        opacity: 0;
        box-shadow: 3px 3px 3px #000;
        }

    50%{
        transform: translateY(90px);      
        opacity: 0;
        box-shadow: 3px 3px 3px #000;
     }  

    100%{
        transform: translateY(0px);
        opacity: 1;
        }
}
@keyframes up {

    from {
    transform: translateY(90px);      
    opacity: 0;  
    }
    to{
    transform: translateY(0px);
    opacity: 1;
    }
}
.offices-body {
    margin-top: 20px;
    background: radial-gradient(circle, rgba(1,73,31,1) 0%, rgba(0,0,0,1) 99%);
    background-blend-mode: soft-light;
    background-position: 0px 0px;
    background-size: 100%;
    background-attachment: fixed;
}

.div1{
    grid-area: div1;
    justify-self: center;
}
.div2{
    grid-area: div2;
    justify-self: center;
}
.div3{
    grid-area: div3;
    justify-self: center;
}
.div4{
    grid-area: div4;
    justify-self: center;
}
.div5{
    grid-area: div5;
    justify-self: center;
}
.div6{
    grid-area: div6;
    justify-self: center;
}
.div7{
    grid-area: div7;
    justify-self: center;
}
.div8{
    grid-area: div8;
    justify-self: center;
}
.div9{
    grid-area: div9;
    justify-self: center;
}
.div10{
    grid-area: div10;
    justify-self: center;
}
.div11{
    grid-area: div11;
    justify-self: center;
}
.div12{
    grid-area: div12;
    justify-self: center;
}



                                                                  /* TRABAJA CON NOSOTROS . html  ESTILOS */




.work-with-us-body {
    margin-top: 20px;
    background: radial-gradient(circle, rgba(1,73,31,1) 0%, rgba(0,0,0,1) 99%);
    background-blend-mode: soft-light;
    background-position: 0px 0px;
    background-size: 100%;
    background-attachment: fixed;
}


.form-container{
    /* margin-top: 200px; */
    color: #000000;
    text-align: center;
    border-style: 2px solid;
    border-color: white;
}

.work-with-us-button{
    background-color: rgb(163, 218, 53);
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 3px 3px #000;
    font-family: 'Montserrat',sans-serif;
    border-radius: 10%;
    margin: 20px;
    border-color: rgb(127, 164, 55);
    border-style: solid;
    border-width: 5px;
    width: 160px;
    height: 60px;
    cursor: pointer;
}

.form-h1{
    font-family: 'Montserrat';
    font-size: 60px;
    margin-top: 150px;
}

input{
    width: 300px;
    height: 30px;
    display: inline-flex;
}

.name,.gender,.adress,.cv,.linkedin{
    font-family: 'Quicksand';
    padding: 20px;
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 900;
    text-shadow: 2px 1px 1px rgb(12, 146, 10);
}





                                                                  /* TIENDA ONLINE . html ESTILOS */





.online-shop-body {
    margin-top: 20px;
    background: radial-gradient(circle, rgba(1,73,31,1) 0%, rgba(0,0,0,1) 99%);
    background-blend-mode: soft-light;
    background-position: 0px 0px;
    background-size: 100%;
    background-attachment: fixed;
}

.frutas-ul, .verduras-ul{
    list-style: none;
} 

.frutas-ul,.verduras-ul,.online-shop-title{
    font-family: 'Montserrat', sans-serif;
}

.frutas-div, .verduras-div{
    display: inline-block;
}

.products{
    height: 300px;
    width: 300px;
}

.online-shop-h1, .frutas-container, .verduras-container{
    margin: 50px;
    text-align: center;
}

.frutas-container,.verduras-container{
letter-spacing: 4px;
background-color: rgba(76, 81, 76, 0.3);
padding: 40px;
}

.products{
    margin: 10px 30px;
    border-width: 10px;
    border-color: #ffffff;
    border-style: solid;
}

.product-title{
    font-size: 25px;
}

.product-description{
    font-size: 12px;
}

.online-shop-title{
    font-size: 80px;
    letter-spacing: 90px;
    padding-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px 6px rgb(163, 218, 53);
}

.cart-button{
    background-color: rgb(163, 218, 53);
    border-width: 5px;
    border-color: rgb(12, 146, 10);
    padding: 7px 4px ;
    margin-top: 15px;
    color: #161111;
    font-weight: 900;
    cursor: pointer;
}

.cart-button:hover{
    transition: .3s;
    background-color: #fff;
    color: #000;
    border-color: rgb(163, 218, 53);
}

.online-shop-h1{
    font-family: 'Quicksand';
    letter-spacing: 3px;
    font-size: 80px;
    text-shadow: 2px 2px 3px;
    margin-top: 100px;
    font-weight: 900;
}
                                                            /* VERSION MOBILE */


@media screen and (max-width: 769px) {


                                                            /*   ESTILOS GENERALES    */


.header{
    flex-direction: row;
}

.burger{
    display: flex !important;
    animation: nav 2s;
    padding: 15px;
    font-size: 34px;
    margin-right: 20px;
    cursor: pointer;
}
                                                            
.nav{
 position: fixed;
 width: 0%;
 height: 100%;
 top: 100px;
 background: rgba(0, 0, 0, 0.95);
 text-align: center;
 transition: .5s;   
}
                                                            
.nav li{
    display: none;
    line-height: 40px;
    margin: 50px 0;
    transition: .5s;
}
                                                            
.active{
color: #04ff6d;
text-shadow: none;
}
                                                            
#check:checked ~ nav{
    width: 100%;
    z-index: 9999;
}

#check:checked ~ nav li{
    display: block;
    }
        
.footer{
margin: 0;
}

.footer__srl{
    font-size: 15px;
    padding: 10px;
}

.icon{
    flex-direction: row;
    margin: -20px 0;
}

                                    /* INDEX . HTML */
.titulo__quote{
    font-size: 20px;
    text-align: center;
}
                                                            
.titulo__laamistad{
    width: 300px;
    margin: -10px;
    padding: 0;
}

.frutas,.jura1,.crew{
    display: none;
}

.titulo__laamistad{
    font-size: 30px;
    margin-top: 30px 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    animation: up 2s;
}

.titulo__laamistad:hover, .titulo__quote:hover{
    transform: none;
}

.titulo__quote{
    font-size: 30px;
    margin: 10% auto;
    text-align: center;
}

.buttondown{
    animation: none;
    width: 50%;
    left: 25%;
    top: 70%;
    animation: up2 2s;
}

.titulo__parrafo{
    font-size: 20px;
    margin-top: 20%;
    margin-bottom: 5px;
    text-align: center;
}

}
                                                            