*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    text-decoration: none;
}
.header {
    margin: -20px 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 5px rgb(176, 176, 176);
    width: 100%;
    z-index: 3;

    &__logo{
        height: 60px;
        margin: 0px 25px;
        animation: nav 2s;
    }
    #check{
    display: none;
    }
    &__burger{  
    display: none !important;
    }
    &__active{
    color: #ffd102;
    }
}
    .nav__links{
        list-style: none;    
    & li{
    display: inline-block;
    margin: 20px 30px;
    animation: nav 2s;
    }
    & li a{
    transition: all .3s;
    }
    & li a:hover{
    color: #04ff6d;
    }
}
    @keyframes nav{
        
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }

    }
@media screen and (max-width: 769px) {

.header{
    flex-direction: row;   
    }  
    .nav{
    position: fixed;
    width: 0%;
    height: 100%;
    top: 100px;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: .5s;   
    z-index: 9;
    }
    
    .header__active{
    color: #04ff6d;
    text-shadow: none;
    }

    .header__burger{
    display: flex !important;
    animation: nav 2s;
    margin: 0.5em auto;
    padding: 0 15px;
    font-size: 34px;
    cursor: pointer;
    z-index: 4;
    }
     
    #check:checked ~ nav{
    width: 100%;
    z-index: 9999;
    }

    #check:checked ~ nav li{
    display: block;
    }  
    .nav li{
    display: none;
    line-height: 40px;
    margin: 50px 0;
    transition: .5s;
    }
}