@import 'variables';
@import 'header';
@import 'footer';

.index-container{
    background: radial-gradient(circle, rgba(1,73,31,1) 0%, rgba(0,0,0,1) 99%);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: soft-light;
    margin-top: 20px;
    background-position: 0px 0px;
    background-size: 100%;

}

